@use './mediaqueries.scss' as mq;

.contentLoading {
  opacity: 0;
  transition: all .3s ease-in-out;
}
.contentLoaded {
  opacity: 1;
  transition: all .3s ease-in-out;
}
.personPin {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  color: #FFF;
  background-color: var(--color-brand-blue);
  font-size: calc(var(--font-size-base) * .66);
  padding: .5em .7em .25em .7em; 
  border-radius: 3px;
  opacity: .2;
  &:hover {
    opacity: 1;
  }
}


@include mq.on-desk {
  .people {
    display: flex;
    gap: var(--space-gutter);
    flex-wrap: wrap;
  }  
  .searchWrapper {
    position: fixed;
    right: var(--space-outer);
    top: calc(.25 * var(--space-outer));
    z-index: 3;
    height: 6vw;
    display: flex;
    gap: 1em;
    align-items: center;
  }
  .peoplesearch {
    min-width: 320px;
    padding: 18px;
    font-size: calc(.9 * var(--font-size-base));
    border: none;
    border-radius: 4px;
    font-family: 'AvenirNext LT Pro', sans-serif;
    text-indent: 33px;
    color: var(--color-brand-blue);
    background-image: url('/icon-magnifying-glass.svg');
    background-repeat: no-repeat;
    background-position: 18px 50%;
    background-size: 23px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
    &::placeholder {
      color: #88A;
    }
  
    &:focus {
      outline: none;
    }
  }

  .showall {
    cursor: pointer;
  }
  .showall_status {
    font-size: var(--font-size-s);
    margin: 0 .5em 0 0;
    position: relative;
    top: -.25em;
  }
  .showall_clear {
    width: var(--font-size-base);
    fill: var(--color-brand-blue);
  }
}

@include mq.on-mob {
  
  .peoplesearch {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 4px;
    position: relative;
    z-index: 3;
    font-size: var(--font-size-base);
    font-family: 'AvenirNext LT Pro', sans-serif;
    color: var(--color-brand-blue);
    background-image: url('/icon-magnifying-glass.svg');
    background-repeat: no-repeat;
    background-position: 18px 50%;
    background-size: 23px;
    text-indent: 33px;
    color: var(--color-brand-blue);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: var(--space-gutter);
  
    &::placeholder {
      color: #88A;
    }
  
    &:focus {
      outline: none;
    }
  }
  .showall {
    cursor: pointer;
  }
  .showall_status {
    font-size: var(--font-size-s);
    margin: 0 .5em 0 0;
    position: relative;
    top: -.25em;
  }
  .showall_clear {
    width: var(--font-size-base);
    fill: var(--color-brand-blue);
  }
}
